.profile__exit {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #EE3465;
    background: none;
    border: none;
    padding: 0;
}