.sing__input {
    width: 100%;
    max-width: 100%;
    padding: 0 0 10px;
    margin: 5px 0 24px;
    font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: none;
    border: none;
    border-bottom: 1px #424242 solid;
    outline: none;
    transition: border-bottom 0.6s, transform 0.5s;
}
.sing__input:last-of-type {
    margin: 0;
}

.sing__input:focus {
    border-bottom: 1px #4285F4 solid
}
