.about-me__info {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .about-me__info {
        margin-top: 0px;
        margin-right: 50px;
    }
} 

@media screen and (min-width: 1280px) {
    .about-me__info {
        margin-right: 270px;
    }
} 