.section__page_screen_movie {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px) {
    .section__page_screen_movie {
        padding-left: 30px;
        padding-right: 30px;
    }
} 

@media screen and (min-width: 1280px) {
    .section__page_screen_movie {
        padding-left: 70px;
        padding-right: 70px;
    }
} 