.hero__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    align-self: center;
    width: 300px;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 50px;
        line-height: 58px;
        width: 730px;
    }
} 