.profile__submit {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 16px;
}