.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 66px);
    background: #073042 url(../../../../../images/hero/hero_background.svg) no-repeat center / cover;
    background-size: 248px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .hero {
        background-size: 320px;
    }
}