.search-form__submit {
    width: 58.65px;
    height: 34px;
    background: #4285F4;
    border-radius: 48px;
    border: none;
    padding: 0;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
