.sign__link {
    font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #4285F4;
    margin: 14px 0 0;
}

@media screen and (min-width: 768px) {
    .sign__link {
        font-size: 14px;
        line-height: 17px;
        margin: 16px 0 0;
    }
} 