.profile__error {
    width: 100%;
    max-width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    text-align: end;
	font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    margin: 0;
    grid-row: 2;
    grid-column: 1/3;
}